<app-navbar></app-navbar>
<div class="title">
  <h1 class="h1-jobs">Find the best jobs</h1>
  <div class="line bg-black"></div>
</div>
<div class="container gral-container">

<!----------------------- FILTERS JOBS --------------------------->
<div class="filter-jobs col-md-3 col-sm-12 col-xs-12">

  <h3 class="filter-tittle">Search by Position</h3>
  <input type="text" class="forms-control" placeholder="Search.." [(ngModel)]="filterpost" name="filterpost"/>
  
  


  <h3 class="filter-tittle">Search by Technology</h3>
  <select name="Category" id="">
    <option value="" selected>Select Technology</option>
  </select>

  <div style="display: flex; flex-direction: column;margin-bottom: 15px;">
  <h3 class="filter-tittle">Select your Workplace</h3>
  <div style="display: flex;flex-direction: row;">
    <label for="cbox2" class="col-md-3">Remote</label> <input type="checkbox" id="cbox2" value="second_checkbox" >
  </div>

  <div style="display: flex;flex-direction: row;">
    <label for="cbox2" class="col-md-3">Office</label><input type="checkbox" id="cbox2" value="second_checkbox">
  </div>

  <div style="display: flex;flex-direction: row;">
    <label for="cbox2" class="col-md-3">Hybrid</label> <input type="checkbox" id="cbox2" value="second_checkbox">
  </div>
  </div>

  <div style="display: flex; flex-direction: column;">
      <h3 class="filter-tittle">Select your Experience</h3>
  <div style="display: flex;flex-direction: row;">
      <label for="cbox2" class="col-md-6">Whitout experience</label><input type="checkbox" id="cbox2" value="second_checkbox"> 
  </div>

  <div style="display: flex;flex-direction: row;">
      <label for="cbox2" class="col-md-6">Less than two years</label><input type="checkbox" id="cbox2" value="second_checkbox">
  </div>

  <div style="display: flex;flex-direction: row;">
      <label for="cbox2" class="col-md-6">Three years or more</label><input type="checkbox" id="cbox2" value="second_checkbox">
  </div>

  <div style="display: flex;flex-direction: row;">
      <label for="cbox2" class="col-md-6">Five years or more</label><input type="checkbox" id="cbox2" value="second_checkbox">
  </div>

</div>

</div>

<!-- --------------------- LIST ALL JOBS --------------------------->
<div class="all-jobs col-md-9 col-sm-12 col-xs-12"  >
    <div class="container jobs" *ngFor="let job of jobList | filter: filterpost | paginate: { itemsPerPage: 10, currentPage: page }" routerLink="/viewJob/{{ job.id }}" matTooltip="View Job">
      <div class="top-job">
        <h3 style="padding: 15px; padding-right:0px !important;">{{job.position}}</h3>
        <h3 style="padding: 15px 0px">( {{job.technology}} )</h3>
      </div>
      <div class="down-job">
        <h4> <i class="far fa-sack-dollar"></i>  US$ {{job.salary}} /month</h4>
        <h4><i class="far fa-chart-line"></i>  {{job.experience}} years</h4>
        <h4><i class="fas fa-user-chart"></i>  {{job.seniority}} </h4>
        <h4><i class="fas fa-location-circle"></i>  {{job.workplace}} </h4>
        <h4><i class="fas fa-building"></i>  {{job.company}} </h4>
      </div>

      
    </div>
<!-- --------------------- PAGINATION--------------------------->

<pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="Prev" nextLabel="Next" 
    style=" display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 15px;">
</pagination-controls>

</div>

</div>


<!-- --------------------- FOOTER IMPORT--------------------------->
<app-footer></app-footer>